<!DOCTYPE html>
<html>

<head>
  <meta charser="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />

  <link rel="stylesheet" href="/css/register.css">

  <title>Registration</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="home" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logout" href="#">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="login" href="login.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="register" href="register.html">Register</a>
        </li>
      </ul>
      <a class="navbar-brand" id="home" href="index.html">Join the SARD community TODAY!</a>
    </div>
  </nav>


  <div class="registration-form">
    <form>
      <h3>Registration Form</h3>
      <br />
      <br />
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Select Type:</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="patient" value="patient" checked>
              <label class="form-check-label" for="patient"> Patient </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="physiotherapist"
                value="physiotherapist">
              <label class="form-check-label" for="physiotherapist"> Physiotherapist </label>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="DOB">Date of Birth</label>
          <input type="date" class="form-control" id="DOB" name="DOB" placeholder="dd/mm/yyyy">
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="email">Physiotherapist's Email (To be filled in by Patients Only)</label>
          <input type="email" class="form-control" name = "physiotherapistemail" id="physiotherapistemail" placeholder="Enter your physiotherapist's email">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
        </div>
        <div class="form-group col-md-6">
          <label for="password2">Confirm Password</label>
          <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
        </div>
      </div>
      <br />
      <button type="submit" id="registration-submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="/scripts/readregistration.js"></script>
</body>

</html>